<div
  style="
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 3rem;
  "
>
  <div
    style="
      border: 1px solid #aaa;
      border-radius: 20px;
      flex: 1;
      max-width: 500px;
    "
  >
    <div style="padding: 3rem 2rem 0 2rem;">
      <img
        src="https://i.ibb.co/jk6R8y1/find-me-logo.png"
        style="margin-bottom: 1rem;"
        alt="find-me-logo"
      />

      <h1 style="margin-bottom: 2rem;">
        Odzyskaj swoje haslo
      </h1>

      <p style="margin-bottom: 3rem;">
        Potrzebujesz odzyskać swoje hasło? Nie ma problemu. Nacisnij przycisk
        poniżej aby zresetować swoje hasło :)
      </p>

      <a
        href="{{resetPasswordLink}}"
        style="
          border-radius: 500px;
          padding: 1rem 3rem;
          background-color: #16979f;
          color: white;
          text-decoration: none;
        "
      >
        Zresetuj hasło
      </a>

      <p style="margin-top: 3rem; margin-bottom: 4rem;">
        Jeżeli to nie ty wysłałeś prośbę o reset hasła, olej wiadomość.
      </p>
    </div>

    <div
      style="
        background-color: #f3ac8e;
        width: 100%;
        border-radius: 0 0 20px 20px;
        height: 50px;
      "
    ></div>
  </div>
</div>
