<h1>
    Dupa maryna... Witaj {{name}}!
</h1>

<h2>
    Tutaj <b>FindMe</b>! zresetuj proszę swoje hasełko.
</h2>

<a href="{{resetPasswordLink}}">
    -} Kliknij sobie tutaj, żeby zresetować hasło {-
</a>
